<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
	.myMessage{
		margin-left: 300px;
        
	}
	.yourMessage{
		margin-left: 10px;
	}
	
</style>
<script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/chatroom.css}">

</head>
<body>
	<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>


<div class="wrapcontainer">
<div class="chat_wrap">
    <button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
    <hr>
    <div th:each="message : ${message}">
		<th:block th:if="${member.id == message.sender}">
            <div class="myMessage">
                <div th:text="${message.message}" ></div>
                <div th:text="${message.sendDate}"></div>
            </div>
		</th:block>
		<th:block th:if="${member.id != message.sender}" >
            <div class="yourMessage">
			    <div  th:text="${message.message}" ></div>
			    <div th:text="${message.sendDate}"></div>
            </div>
		</th:block>
		
	</div>
    
    <div class="msgArea">
        <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
        <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
    </div>
</div>
</div>
</body>

<script th:inline="javascript">
	var room = /*[[${room}]]*/ [];
    var roomId = /*[[${room.roomId}]]*/ 0;
    var id = /*[[${id}]]*/ 0;
    var member = /*[[${member}]]*/ [];
	var memberNick = /*[[${memberNick}]]*/ '';
    let socket = new WebSocket("ws://localhost:8080/ws/chat/"+roomId);
    
    

    
	console.log('member : ' , member);
		
    console.log('room : ' , room);
        function enterRoom(socket){
            var enterMsg={"type" : "ENTER","roomId":roomId ,"sender":member.id, "senderNick":memberNick,"message":""}; //sender는  글쓸때 수정하자.\
         
            socket.send(JSON.stringify(enterMsg), roomId);
        }

        socket.onopen = function (e) {
            console.log('open server!')
            enterRoom(socket);
        };
        socket.onclose=function(e){
            console.log('disconnet');
        }

        socket.onerror = function (e){
            console.log(e);
        }

        //메세지 수신했을 때 이벤트.
        socket.onmessage = function (e) {    
			let currentDate = new Date();

		// 날짜 및 시간 정보 가져오기
			let year = currentDate.getFullYear();
			let month = currentDate.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
			let day = currentDate.getDate();
			let hours = currentDate.getHours();
			let minutes = currentDate.getMinutes();
			let seconds = currentDate.getSeconds();
    
			let jsonData = JSON.parse(e.data);
            console.log(e.data);
            let className = 'yourMessage';
            if(jsonData.sender == member.id){
				className = 'myMessage';
			}
            let msgArea = document.querySelector('.msgArea');
            let newMsg = document.createElement('div');
            newMsg.innerHTML += jsonData.message;
            newMsg.innerHTML += "<br>";
            newMsg.innerHTML += year + '-' + month +'-' + day;
            newMsg.innerHTML += hours + ':' + minutes + ':' + seconds;
            newMsg.className = className;
            msgArea.append(newMsg);
                       var pageHeight = document.body.scrollHeight || document.documentElement.scrollHeight;

			// 화면을 가장 아래로 스크롤하기
			window.scrollTo(0, pageHeight);
        }


        //메세지 보내기 버튼 눌렀을 떄..
        function sendMsg() {
            let content=document.querySelector('.content').value;
             var talkMsg={"type" : "TALK","roomId":roomId ,"sender":member.id,  "senderNick":memberNick,"message":content};
           socket.send(JSON.stringify(talkMsg));
           document.querySelector('.content').value = "";

        }

        function quit(){
             var quitMsg={"type" : "QUIT","roomId":roomId ,"sender":member.id, "senderNick":memberNick,"message":""};
           socket.send(JSON.stringify(quitMsg));
            socket.close();
            location.href="/chat/chatList/" + id;
        }

</script>

</html>