<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
	img{
		width: 100px;
		height: 100px;
	}
</style>
<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
    

<table>
    <div th:each="room, i : ${roomList}" >
			<div th:id="${i.index}" class="room" onclick="selected(this)">
				<div th:with="member=${roomMap.get(room.chatReceiverId)}">
					<img th:src="${member.profileSrc}">
					<div th:text="${member.nickName}"></div>
				</div>
            </div>
    </div>
</table>

<script th:inline="javascript">
	var room = /*[[${roomList}]]*/ [];
	var roomMap =  /*[[${roomMap}]]*/ [];
	console.log(room);
	console.log(roomMap);
	

	
	
	function selected(e){
		console.log(e.id);
		window.location.href = '/chat/chatRoom/'+room[e.id].roomId;
	} 
	
	
	
</script>
</body>
</html>