<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
	.myMessage{
		margin-left: 300px;
	}
	.yourMessage{
		margin-left: 10px;
	}
	
</style>
</head>
<body>
<input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
<button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
<button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
<div>
    <span>메세지</span>
    <div th:each="message : ${message}">
		<th:block th:if="${member.id == message.sender}">
			<div th:text="${message.message}"  class="myMessage"></div>
			<div th:text="${message.sendDate}"  class="myMessage"></div>
		</th:block>
		<th:block th:if="${member.id != message.sender}" >
			<div  th:text="${message.message}" class="yourMessage"></div>
			<div th:text="${message.sendDate}" class="yourMessage"></div>
		</th:block>
		
	</div>
    
    <div class="msgArea"></div>
</div>
</body>

<script th:inline="javascript">
	var room = /*[[${room}]]*/ [];
    var roomId = /*[[${room.roomId}]]*/ 0;
    
    var member = /*[[${member}]]*/ [];
	var memberNick = /*[[${memberNick}]]*/ '';
    let socket = new WebSocket("ws://localhost:8080/ws/chat/"+roomId);
    
	console.log('member : ' , member);
		
    console.log('room : ' , room);
        function enterRoom(socket){
            var enterMsg={"type" : "TALK","roomId":roomId ,"sender":member.id, "senderNick":memberNick,"message":""}; //sender는  글쓸때 수정하자.\
         
            socket.send(JSON.stringify(enterMsg), roomId);
        }

        socket.onopen = function (e) {
            console.log('open server!')
            enterRoom(socket);
        };
        socket.onclose=function(e){
            console.log('disconnet');
        }

        socket.onerror = function (e){
            console.log(e);
        }

        //메세지 수신했을 때 이벤트.
        socket.onmessage = function (e) {
            console.log(e.data);
            let msgArea = document.querySelector('.msgArea');
            let newMsg = document.createElement('div');
            newMsg.innerText=e.data;
            msgArea.append(newMsg);
        }


        //메세지 보내기 버튼 눌렀을 떄..
        function sendMsg() {
            let content=document.querySelector('.content').value;
             var talkMsg={"type" : "TALK","roomId":roomId ,"sender":member.id, "senderNick":memberNick,"message":content};
           socket.send(JSON.stringify(talkMsg));
        }

        function quit(){
             var quitMsg={"type" : "TALK","roomId":roomId ,"sender":member.id, "senderNick":memberNick,"message":""};
           socket.send(JSON.stringify(quitMsg));
            socket.close();
            location.href="/chat/chatList/11";
        }

</script>

</html>