<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>문득 관리자 페이지</title>
</head>
<body>
    <h1>문득 관리자 페이지</h1>
	
    <h2>신고된 게시글</h2>
	<table id="container">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Content</th>
            <th>Member ID</th>
            <th>Reporter ID</th>
            <th>Reported Date</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="allReportPost, i : ${allReportPost}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${allReportPost.title}"></td>
            <td th:text="${allReportPost.content}"></td>
            <td th:text="${allReportPost.memberId}"></td>
            <td th:text="${allReportPost.reporterId}"></td>
            <td th:text="${allReportPost.reportedDate}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>