<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>문득 관리자 페이지</title>
</head>
<body>
    <!-- 글삭제확인모달 -->
    <div class="deleteCheckModal" id="deleteCheckModal" style="z-index: 1;
			position: absolute; display:none; width: 100%; height: 100%; background: #333333ca; top: 0; left: 0;">
				<div class="reportCheck" id="reportCheck" style="width:400px; height:200px;
				background:#fff; border-radius:10px;
				position:relative; top:50%; left:50%;
				margin-top:-100px; margin-left:-200px;
				text-align:center;
				box-sizing:border-box; padding:74px 0;
				line-height:23px; cursor:pointer;">
					<div id="modalcontent">글을 삭제하시겠습니까?</div>
					<div id="deleteCancle">취소</div>
					<div id="deleteConfirm">삭제</div>
				</div>
	</div>


    <!-- 신고삭제확인모달 -->

    <div class="reportdeleteCheckModal" id="reportdeleteCheckModal" style="z-index: 1;
			position: absolute; display:none; width: 100%; height: 100%; background: #333333ca; top: 0; left: 0;">
				<div class="reportCheck" id="reportCheck" style="width:400px; height:200px;
				background:#fff; border-radius:10px;
				position:relative; top:50%; left:50%;
				margin-top:-100px; margin-left:-200px;
				text-align:center;
				box-sizing:border-box; padding:74px 0;
				line-height:23px; cursor:pointer;">
					<div id="reportmodalcontent">신고를 해제하시겠습니까?</div>
					<div id="reportdeleteCancle">취소</div>
					<div id="reportdeleteConfirm">확인</div>
				</div>
	</div>



    <h1>문득 관리자 페이지</h1>
	
    <h2>신고된 게시글</h2>
	<table id="container">
    <thead>
        <tr>
            <th>#</th>
            <th>Post Code</th>
            <th>Title</th>
            <th>Content</th>
            <th>Member ID</th>
            <th>Reporter ID</th>
            <th>Reported Date</th>
            <th>신고 해제</th>
            <th>게시글 삭제</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="allReportPost, i : ${allReportPost}">
            <td th:text="${i.index+1}"></td>
            <td class="postCode" th:text="${allReportPost.postCode}"></td>
            <td th:text="${allReportPost.title}"></td>
            <td th:text="${allReportPost.content}"></td>
            <td th:text="${allReportPost.memberId}"></td>
            <td th:text="${allReportPost.reporterId}"></td>
            <td th:text="${allReportPost.reportedDate}"></td>
            <td>
                <button class="btn reportDelete">신고 해제</button>
            </td>
            <td>
                <button class="btn postDelete">게시글 삭제</button>
            </td>
        </tr>
    </tbody>
</table>
<script>
    let postDeletebtn = document.querySelectorAll(".postDelete");
    let reportDeletebtn = document.querySelectorAll(".reportDelete");

    let postCodes = document.querySelectorAll(".postCode");
    let deleteCheckModal = document.getElementById("deleteCheckModal");
    let reportCheckModal = document.getElementById("reportdeleteCheckModal");
    let deleteCancle = document.getElementById("deleteCancle");
    let deleteConfirm = document.getElementById("deleteConfirm");

    let reportmodalcontent = document.getElementById("reportmodalcontent");
    let modalcontent = document.getElementById("modalcontent");

    let reportdeleteCancle = document.getElementById("reportdeleteCancle");
    let reportdeleteConfirm = document.getElementById("reportdeleteConfirm");

    for(let i =0; i<postDeletebtn.length; i++){
        let postCode = postCodes[i].innerHTML;
        console.log(postCode);

        reportDeletebtn[i].addEventListener("click",(e)=>{
            console.log("눌림");
            jQuery(".reportdeleteCheckModal").fadeIn();
            
                deleteCancle.addEventListener("click", (e)=>{
                    jQuery(".reportdeleteCheckModal").fadeOut();
                    
                });

                reportdeleteConfirm.addEventListener("click", (e)=>{
                console.log("눌림");
                console.log(postCode);

                $.ajax({
                type: 'POST',
                url: '/deleteReportPost',
                data:{
                    "postCode" : postCode,
                    } ,
                dataType: 'html',
                success: function (data) {
                    console.log(data);
                    if(data == "1"){
                        console.log("삭제 성공");
                        reportmodalcontent.innerText = "취소되었습니다.";
                        reportdeleteCancle.innerText = "확인";
                        reportdeleteConfirm.style.display = "none"
                        reportdeleteCancle.addEventListener("click",(e)=>{location.reload();});

                        }
                    }
            
                });
            }
    );
            

        });







        postDeletebtn[i].addEventListener("click",(e)=>{
                console.log("눌림");
                jQuery(".deleteCheckModal").fadeIn();
            
                deleteCancle.addEventListener("click", (e)=>{
                    jQuery(".deleteCheckModal").fadeOut();
                    
                });
            
            
            deleteConfirm.addEventListener("click", (e)=>{
                console.log("눌림");
                console.log(postCode);

                $.ajax({
                type: 'POST',
                url: '/deletePost',
                data:{
                    "postCode" : postCode,
                    } ,
                dataType: 'html',
                success: function (data) {
                    console.log(data);
                    if(data == "1"){
                        console.log("삭제 성공");
                        modalcontent.innerText = "삭제되었습니다.";
                        deleteCancle.innerText = "확인";
                        deleteConfirm.style.display = "none"
                        deleteCancle.addEventListener("click",(e)=>{location.reload();});

                        }
                    }
            
                });
            }
    );


        
                
});               
};
    



</script>
</body>
</html>