<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>문득 관리자 페이지</title>
</head>
<body>
    <h1>문득 관리자 페이지</h1>
	
    <h2>유저관리</h2>
	<table id="container">
    <thead>
        <tr>
            <th>#</th>
            <th>User ID</th>
            <th>Status Code</th>
            <th>Login ID</th>
            <th>Password</th>
            <th>Nick Name</th>
            <th>Profile Src</th>
            <th>Member Intro</th>
            <th>Create On</th>
            <th>Password Update</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="allUsers, i : ${allUsers}">
            <td th:text="${i.index+1}"></td>
            <td class="userId" th:text="${allUsers.id}"></td>
            <td class="statusCode" th:text="${allUsers.statusCode}"></td>
            <td th:text="${allUsers.loginId}"></td>
            <td th:text="${allUsers.password}"></td>
            <td th:text="${allUsers.nickName}"></td>
            <td th:text="${allUsers.profileSrc}"></td>
            <td th:text="${allUsers.memberIntro}"></td>
            <td th:text="${allUsers.createOn}"></td>
            <td th:text="${allUsers.passwordUpdate}"></td>
            <td>
                <button th:if="${allUsers.statusCode}=='N'" class="btn UserDeactive">유저 활성화</button>
                <button th:if="${allUsers.statusCode}=='Y'" class="btn UserActivate">유저 비활성화</button>
            </td>
        </tr>
    </tbody>
</table>

    <script>
        let UserStatusbtn = document.querySelectorAll(".btn");
		let UserIddiv = document.querySelectorAll(".userId");
		let StatusCode = document.querySelectorAll(".statusCode");
        
        $( document ).ready(function() {
			
			for(let i =0; i<UserStatusbtn.length; i++){
				let UserId = UserIddiv[i].innerHTML;
				console.log(UserId);
				let statusCode = StatusCode[i].innerHTML;
				console.log(statusCode);
				
				UserStatusbtn[i].addEventListener("click",(e)=>{
					e.preventDefault();
					
					$.ajax({
	            	type: 'POST',
		            url: '/updateUserStatusCode',
		            data:{
                        "statusCode" : statusCode,
					    "id" : UserId
						} ,
	            
		            success: function (data) {
						if(data == 1){
							console.log("업데이트 성공");
							location.reload();
						}
				
            },
        })
				});
			}
			
		}
)


    </script>
</body>
</html>