<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">

</head>

<body>
	<th:block th:fragment="headFrag(uuid)">
	<nav>
		<a href="/home/home">
	        <div class="logo">
            	<img th:src="@{/img/logo.png}" alt="">
	        </div>
	    </a>

        <ul>
            <li><a href="/menu/book">책</a></li>
            <li><a href="/menu/movie">영화</a></li>
            <li><a href="/menu/concert">공연</a></li>
        </ul>
		 	
        <input class="search" type="text" placeholder="Search">
        
        <th:block th:if="${uuid == none}"> 
			<a href="/dologin">Login</a>
		</th:block>
		
		<th:block th:if="${uuid != none}"> 
	        
		        <div class="userinfo">
			            <div class="profileimg">
		    	            <img th:src="${member.profileSrc}"  alt="">
		        	    </div>
		        	    <a th:href="@{|/myPage/${member.id}|}">
		            		<p th:text="${member.nickName}"></p>
						</a>
	        	</div>
	        
        <form th:action="@{/home/logout}" method="post">
			<button type="submit">로그아웃</button>
		</form>
		</th:block>
			
    </nav>
	</th:block>
	
		
</body>
</html>