<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<style>
	.type{
		border: solid 1px black;
		width: 50px;
		cursor: pointer;
	}
</style>
</head>
<body>
	<th:block th:if="${member == null}">
		<div th:replace="main/header :: headFrag(${none})"></div>
	</th:block>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	
	
	
	<img th:src="@{/img/bannerimg_900x200.png}" alt="">
	<p>가장 많이 기록된 작품들</p>
	<div class="type 1" id="type_1" onclick="selected(this, 'book')">책</div>
	<div class="type 2" id="type_2" onclick="selected(this, 'movie')">영화</div>
	<div class="type 3" id="type_2" onclick="selected(this, 'concert')">공연</div>
	
	<div id="container">
		<div th:each="post,i:${post}" id="mostPosted">
				<div id="postComp">
					<div th:id="${i.index}"></div>
					<img th:src="${post.targetThumbnail}">
					<div th:text="${post.targetName}"></div>
					<div th:text="${post.targetSubName}"></div>
					<div th:text="${post.targetAuthor}"></div>
					<input th:value="${post.targetThumbnail}" id="targetThumb" type="hidden">
					<div th:text="${post.starCount}"></div>
				</div>
				<hr>
		</div>
	</div>
	<div id="post-container"></div>
				
	
	
	<p>이달의 기록왕</p>
	<div th:text="${king[0].memberNick}"></div>
	<div th:text="${king[1].memberNick}"></div>
	<div th:text="${king[2].memberNick}"></div>
	
	<footer class="footer">

    <p>Copyright © 2023. DIY All rights reserved.</p>
    <p>Contact <br>
    이정현 : yijh0315@naver.com<br>
    원윤선 : ereunosun113@gmail.com 
    </p>
	</footer>
	
	
	<script>
		let types = document.querySelectorAll(".type");
		
		$("#type_1").css("background-color", "lightgray");
		
		
		function selected(e, type){
			$(types).css("background-color", "white")			
			$(e).css("background-color", "lightgray");
			
			
			
        	
			$.ajax({
				type : "POST",
				url : "/home/" + type,
				data : {
					type
				},success: function (data) {
                	console.log(data);
                	
						$("#container").empty();
                	$.each(data, function (index, post) {
                    	$('#container').append('<div id="' + index + '">' +
                        '<img src="'+post.targetThumbnail+'">' +
                        '<div>' + post.targetName + '</div>' +
                        '<div>' + post.targetSubName + '</div>' +
                        '<div>' + post.targetAuthor + '</div>' +
                        //'<input value="' + post.targetThumbnail + '" id="targetThumb" type="hidden">' +
                        '<div>' + post.starCount + '</div>' +
                        '</div><hr>');
                });
            }
		});
		
		}
		
		
	</script>
</body>
</html>