<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/updatePassword.css}">
<script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
<style>

</style>
</head>
<body>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	<div class="wrapcontainer">
	<div class="up_Wrap"> 
		<h1 style="margin-bottom:20px ;">비밀번호를 수정할 수 있어요</h1>
		<p class="sub_p">회원님의 소중한 개인정보를 위해, 비밀번호를 수정해주세요.</p>
		<div class="input_wrap">
			<form th:action="@{'/myPage/updatePassword/' + ${member.id}}" method="post" th:object="${passwordUpdateForm}" id="passwordUpdateForm" name="passwordUpdateForm">
				<label>기존 비밀번호<input type="password" th:value="${passwordUpdateForm.originPassword}" name="originPassword"></label>
				<div class="error" th:errors="*{originPassword}"></div>
				<label>새 비밀번호<input type="password" th:value="${passwordUpdateForm.newPassword}" name="newPassword"></label>
				<div class="error" th:errors="*{newPassword}"></div>
				<label>새 비밀번호 확인<input type="password" th:value="${passwordUpdateForm.newPasswordCheck}" name="newPasswordCheck"></label>
				<div  class="error" th:errors="*{newPasswordCheck}"></div>
				<input type="hidden" name="type" value="directly">
			</form>
		</div>	
			<button onclick="submitForm()" class="updatebtn" >수정하기</button>
			
	</div>
</div>
<script>
    function submitForm() {
        document.getElementById("passwordUpdateForm").submit();
    }
</script>
<script th:src="@{/js/nav.js}"></script>
</body>
</html>