<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<style>
	.error{
		color: red;
	}
</style>
</head>
<body>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	
	<h1>비밀번호를 수정할 수 있어요</h1>
	<h3>회원님의 소중한 개인정보를 위해, 비밀번호를 수정해주세요.</h3>
	
	<form th:action="@{'/myPage/updatePassword/' + ${member.id}}" method="post" th:object="${passwordUpdateForm}" id="passwordUpdateForm" name="passwordUpdateForm">
		<label>기존 비밀번호<input type="password" th:value="${passwordUpdateForm.originPassword}" name="originPassword"></label><br><br>
		<div class="error" th:errors="*{originPassword}"></div><br>
		<label>새 비밀번호<input type="password" th:value="${passwordUpdateForm.newPassword}" name="newPassword"></label><br><br>
		<div class="error" th:errors="*{newPassword}"></div><br>
		<label>새 비밀번호 확인<input type="password" th:value="${passwordUpdateForm.newPasswordCheck}" name="newPasswordCheck"></label><br><br>
		<div  class="error" th:errors="*{newPasswordCheck}"></div><br>
		<input type="hidden" name="type" value="directly">
	</form>
		
		<button onclick="submitForm()">수정하기</button>
		<p>비밀번호가 수정돼요</p>

<script>
    function submitForm() {
        document.getElementById("passwordUpdateForm").submit();
    }
</script>
<script th:src="@{/js/nav.js}"></script>
</body>
</html>