<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
	<style>
		img{
			width: 100px;
			height: 100px;
		}
		.chooseType{
			border: solid 1px black;
		}
	</style>
</head>
<body>
	<th:block th:if="${member == null}">
		<div th:replace="main/header :: headFrag(${none})"></div>
	</th:block>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	
	<h1>MyPage</h1>
	
	    <div class="top_wrap">
        <div class="recordchart">
            <p>나의 기록 통계</p>
            <canvas id="pie-chart" width="200" height="200"></canvas>
        </div>
        <div class="recordchart">
            <p>월별 기록 통계</p>
            <canvas id="bar-chart" width="200" height="200"></canvas>
        </div>
        <div class="user_wrap">
			
			<input type="hidden" th:value="${member.id}" id="memberId">
			<input type="hidden" th:value="${type}" id="thisType">
		
			
			
            <a th:href="@{|/myPage/update/${member.id}|}">
            <i class="fa-solid fa-gear"></i>
            </a>
            <div class="userimg">
                <img th:src="${member.profileSrc}" alt="">
            </div>
            <div class="userid" th:text="*{member.nickName}"></div>
            <div class="userintro" th:text="*{member.memberIntro}"></div>
            <div class="followinfo">
                팔로잉<div class="follower">1</div>
                팔로워<div class="following">4</div>
            </div>
            
            <button onclick="location.href='/writePost'">
                글 작성
            </button>
        </div>
    </div>
	<form>
	<div class="chooseType">
		<p>종류</p>
		<label onclick="checked(this, 0)"><input type="checkbox" name="chooseType" value="all" class="checkType all">전체</label>
		<label onclick="checked(this, 1)"><input type="checkbox" name="chooseType" value="book" class="checkType book">책</label>
		<label onclick="checked(this, 2)"><input type="checkbox" name="chooseType" value="concert" class="checkType concert">공연</label>
		<label onclick="checked(this, 3)"><input type="checkbox" name="chooseType" value="movie" class="checkType movie">영화</label>
	</div>
	</form>
	
	<!-- 하단 -->
	<div th:each="post,i : ${post}">
		<a th:href="@{|/posts/${post.postCode}|}">
			<div id="postComp">
				<div th:id="${i.index}"></div>
				<div th:text="${post.targetName}"></div>
				<div th:text="${post.targetSubName}"></div>
				<img th:src="${post.targetThumbnail}" class='targetThumb'>
				<div th:value="${post.createOn}"></div>
				<div th:text="${post.memberNick}"></div>
				<div th:text="${post.starCount}"></div>
				<div th:text="${post.title}"></div>
				<div th:text="${post.content}"></div>
			</div>
		</a>
		<hr>
	</div>
	
<div id="pagination">
	<!-- 맨 처음 페이지로 이동하는 버튼 -->
    <span th:if="${pageVo.startPage > 1}">
        <a th:href="@{'/myPage/' + member.id + '?page=1&type=' + ${type}}" th:text="'처음&emsp;'"></a>
    </span>

	<!-- 이전 블록으로 이동하는 버튼 -->
    <span th:if="${pageVo.isPrev == true}">
    	<a th:href="@{'/myPage/' + member.id + '?page=' + (pageVo.startPage - 1) + '&type=' + ${type}}" th:text="'이전'"></a>
    </span>

    <!-- 시퀀스 보여주는 값을 변경. -->
    <span th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
        <a class="div2" th:href="@{'/myPage/'+ ${member.id} +'?page='+${pageNum}+'&type='+${type}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
    </span>
	
    <!-- 다음 블록으로 이동하는 버튼 -->
    <span th:if="${pageVo.isNext == true}">
	<a th:href="@{'/myPage/${member.id}?page='+|${pageVo.endPage + 1}|+'&type='+${type}}" th:text="'다음'"></a>
    </span>
	
    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
    <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
	<a th:href="@{'/myPage/${member.id}?page='+${pageVo.totalPageCount}+'&type='+${type}}" th:text="|&emsp;끝|"></a>
    </span>
</div>
	
	
	<script>
	let types = document.querySelectorAll(".checkType");
	
	let memberId = document.getElementById("memberId");
	let memberIdVal = memberId.value;
	
	let thisType = document.getElementById("thisType");
	let thisTypeVal = thisType.value;
	
	for(let i = 0; i<types.length; i++){
		if(types[i].value == thisTypeVal){
			types[i].checked = true;
		}
	}
	
	
	function checked(e, number){
		let value;
		for(let i = 0; i<types.length; i++){
			if(i != number){
				types[i].checked = false;				
			}
			console.log('types', [i], ' : ',types[i].checked);
		};
		if(types[0].checked == false && types[1].checked == false && types[2].checked == false && types[3].checked == false){
			types[0].checked = true;
		}
		for(let i = 0; i<types.length; i++){
			if(types[i].checked == true){
				value = types[i].value;
				window.location.href = '/myPage/'+memberIdVal+'?page=1&type='+value;
			}
		}
		
			
	};
		
	new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["책", "영화", "공연"],
      datasets: [{
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        data: [20,30,3]
      }]
    },
    options: {
        responsive: false,
        legend : {position : "bottom",
        align :'end',
        labels: {
              boxWidth: 20
          }
        
        },
       
    }
});

new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["11월", "12월", "1월", ],
      datasets: [
        {
          
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f",],
          data: [2,8,6,]
        }
      ]
    },
    options: {
        responsive: false,
      legend: { display: false },
      scales: {
        yAxes: [{display: true,
                ticks: {
                    suggestedMin: 0,
                },}
            
        ]
    },
}
});
			
	
	</script>
</body>
</html>