<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/notice.css}">

</head>
<body>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	<div class="wrapcontainer">
	<div class="noticeWrap">
	<h3>알림</h3>
	
	<th:block th:if="${noticeListLen} == 0">
		    <!-- '알림이 없습니다' 라는 문구를 표시할 내용 -->
		<p>새로운 알림이 없습니다.</p>    
	</th:block>
	
	
	<div th:each="noticeList:${noticeList}" id="noticelist" class="noticelist">
		<th:block th:if="${#lists.isEmpty(noticeList)}">
		    <!-- '알림이 없습니다' 라는 문구를 표시할 내용 -->
		</th:block>




		<div th:with="doMember=${doMember[noticeList.doMemberId]}">
			<div th:with="targetPost=${targetPost[noticeList.targetId]}"  >
				<th:block th:if="${noticeList.type != 'chat'}" >
					<a th:href="@{|/posts/${noticeList.targetId}|}" class="flex-container">
						<div class="notice_profileimg">
							<img th:src="${doMember.profileSrc}">
						</div>

					<div th:text="${doMember.nickName}" class="nickNamediv"></div>
					<div>님이 </div>
					
					<div class="title" th:text="'<'+${targetPost.title}+'>'"></div>
					<div>게시글에</div>
					<div th:text="${noticeList.type}"></div>
					<div class="targetpostimg">
						<img th:src="${targetPost.targetThumbnail}" >
					</div>
					<p th:text="${noticeList.diff}" class="daydiv"></p>
				</th:block>
				
				
					
				</a>
			</div>
	</div>	
		
	</div>
</div>
</div>

	
<script>
	
    
</script>
<script th:src="@{/js/nav.js}"></script>
</body>
</html>