<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/nav.js}"></script>
<style>
	img{
		width: 100px;
		height: 100px;
	}
</style>
</head>
<body>
	<h1>updateMember</h1>
	<div id="newProfile">
		<img th:src="${member.profileSrc}">
	</div>
	
	<form method="post" action="/myPage/update/" enctype="multipart/form-data">
	    <input type="file" name="files" multiple="multiple" id="profileSrc"/>
	    <input th:field="*{member.profileSrc}" id="profilePath" type="hidden">
	    
	    
	    <label>닉네임<input th:field="*{member.nickName}"></label>
	    <label>한줄소개<input th:field="*{member.memberIntro}"></label>
	     
	    <button type="submit" id="submit">전송</button>
	</form>
	<br>
	<a th:href="@{|/directlyUpdatepassword/${member.id}|}">
		<p>비밀번호 변경하기</p>
	</a>

	<script>
		let profileSrc = document.getElementById("profileSrc");
		let newProfile = document.getElementById("newProfile");	
		let profilePath = document.getElementById("profilePath");
		
		profileSrc.addEventListener("change", (e)=>{
			e.preventDefault();
			
			let image = e.target.files[0];
			data = new FormData();
			data.append('file', image);
			 $.ajax({
	            data: data,
	            type: 'POST',
	            url: '/myPage/profileImage',
	            contentType: false,
	            enctype: 'multipart/form-data',
	            processData: false,
	            success: function (imageData) {
					console.log(imageData.src);
					newProfile.innerHTML = "<img src='"+imageData.src+"'>";
					profilePath.value = imageData.src;
	        
            },
        })
		});
		

	</script>
			<script th:src="@{/js/nav.js}"></script>
</body>
</html>