<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/updatePassword.css}">

</head>
<body>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	<div class="up_Wrap"> 
	<h1>회원님의 소중한 개인정보를 위해, 비밀번호를 변경해주세요.</h1>
	<p class="sub_p">비밀번호를 수정한지 6개월이 지났네요!</p>
	<div class="input_wrap">
		<form th:action="@{'/myPage/updatePassword/' + ${member.id}}" method="post" th:object="${passwordUpdateForm}" id="passwordUpdateForm" name="passwordUpdateForm">
			<label>기존 비밀번호<input type="password" th:value="${passwordUpdateForm.originPassword}" name="originPassword"></label>
			<div class="error" th:errors="*{originPassword}"></div>
			<label>새 비밀번호<input type="password" th:value="${passwordUpdateForm.newPassword}" name="newPassword"></label>
			<div class="error" th:errors="*{newPassword}"></div>
			<label>새 비밀번호 확인<input type="password" th:value="${passwordUpdateForm.newPasswordCheck}" name="newPasswordCheck"></label>
			<div  class="error" th:errors="*{newPasswordCheck}"></div>
			
			<input type="hidden" name="type" value="sixMonth">
		</form>
	</div>
		
			<button onclick="submitForm()" class="updatebtn">변경하기</button>
			<div class="reAlert_Wrap">
				<a th:href="@{|/password/reAlert/${member.id}|}">
					<p><i class="fas fa-bell"></i>   나중에 다시 알림</p>
				</a>
				<p>7일 후에 알림이 다시 와요</p>
		</div>
	</div>
<script>
	
    function submitForm() {
        document.getElementById("passwordUpdateForm").submit();
    }
</script>
<script th:src="@{/js/nav.js}"></script>
</body>
</html>