	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	
	<style>
		.result{
			text-align: center;
			display: inline-block;
			height: 160px;
			width: 100px;
		}
		.title{
			width: 100px;
		}
		img{
			height: 100px;
			width: 60px;
		}

	</style>
	</head>
	<body>
		<h1>Post</h1>
		
		검색어<input id="keyword1"><br>
		<button id="searchButton">검색</button><br>

		<div id="searchMovieResult"></div>
		<div id="searchConcertResult"></div>
		<br><br>
		<form action="/post" method="post" name="post" th:object="${post}" enctype="multipart/form-data"> 
			제목<input th:field="*{title}"><br>
			내용<input th:field="*{content}"><br>
			<div id="inputFile">
			<input name="file" type="file" id="customFile"/><br>
			<label for="customFile">파일을 선택해 주세요.</label>
			</div>
			
		</form>
		<button id="submitBtn">입력</button>

	<script>
		let submitBtn = document.getElementById("submitBtn");
		let form = document.post;
		
		let searchMovieResult = document.getElementById("searchMovieResult");
		let searchConcertResult = document.getElementById("searchConcertResult");
		let resultC = [];
		let resultC_name= [];
		let resultC_type = [];
		let resultC_thumb = [];
		submitBtn.addEventListener('click',(e)=>{
			form.submit();
		});	
		
		let keyword1 = document.getElementById("keyword1");
		let searchButton = document.getElementById("searchButton");

		searchButton.addEventListener("click", (e)=>{
			searchMovieResult.innerHTML = "";
			searchConcertResult.innerHTML = "";
			resultC_name = [];
			resultC_type = [];
			resultC_thumb = [];
			let keyword = keyword1.value.toString();
			console.log(keyword);
			console.log(typeof(keyword));
			
			$.ajax({
				type: "GET",
				url: "/kakaoBookSearch/"+keyword,
				dataType: "json",
				contentType:"application/json",
			}).done(function(res) {
				console.log(res);
				for(let i = 0 ; i < res.documents.length; i++){
					if(res.documents[i].authors == "" || res.documents[i].authors == null){
						res.documents[i].authors = "작가 없음";
						searchMovieResult.innerHTML += 
						"<div class='result'> <img src='"+res.documents[i].thumbnail +"'><p class='title'>"+res.documents[i].title+"</p><p>"+res.documents[i].authors+"</p></div>";
					}else{
						searchMovieResult.innerHTML += 
						"<div class='result'> <img src='"+res.documents[i].thumbnail +"'><p class='title'>"+res.documents[i].title+"</p><p>"+res.documents[i].authors+"</p></div>";
					}
				};
			}).fail(function (error) {
				alert(JSON.stringify(error));
			});
			console.log("책 api ajax 요청 종료");

			$.ajax({
				type: "GET",
				url: "concert/"+keyword,
				dataType: "xml",
				//contentType:"application/json",
			}).done(function(res) {
				console.log(res);
				let resTextToString = $(res).text().toString();	
				console.log(resTextToString);
				resultC = resTextToString.split('        ');
				for(let i = 2 ; i< resultC.length; i++){
					if(i%9 == 2){
						resultC_name.push(resultC[i]);
					}
					if(i%9 == 7){
						resultC_type.push(resultC[i]);
					}
					if(i%9 == 6){
						resultC_thumb.push(resultC[i]);
					}
				}
				console.log(resultC_name);
				console.log(resultC_type);
				console.log(resultC_thumb);
				
				for(let i = 0 ; i < resultC_name.length; i++){
					searchConcertResult.innerHTML += 
					"<div class='result'> <img src='"+resultC_thumb[i] +
					"'><p class='title'>"+
					resultC_name[i]+
					"</p><p>"+
					resultC_type[i]+"</p></div>";;
					
				}
				
			}).fail(function (error) {

			});
			console.log("ajax 요청 종료");


		});
</script>
</body>
</html>