<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/post.css}">

</head>
<body>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
    
	
    <form th:action="@{'/update/' + ${post.postCode}}" method="post" th:object="${post}" enctype="multipart/form-data">

		<div class="post_topwrap">
  			<div class="post_topleft">		
				<p class="p1">게시글을 수정하는 페이지입니다.</p>
				<p class="p2">수정할 내용을 입력하세요</p>
				
			</div>
			
			<div class="post_topmid">
				<p>선택한 작품</p>
				<p>선택한 작품은 수정할 수 없어요</p>
				<div class="selectedWork" id="selectedWork">	
					<img th:src="${post.targetThumbnail}" class='targetThumb'>
					<div th:text="*{targetName}"></div>
					<div th:text="*{targetSubName}"></div>
					<div th:text="*{targetAuthor}"></div>
				</div>
			</div>
		
			 <div class="post_topright">
				<p>나의 별점</p>
				<di class="rating">
					<span class="rating__result" id="starCnt"></span> 
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
				</div>
		</div>
	</div>
		<input id="stars" th:field="*{starCount}" value="" type="hidden">
			
		<label class="title_lb">제목<span></span>
			<input class="posttitle" th:field="*{title}" placeholder="게시글 제목을 입력해주세요">
		</label>
		<div class="content_wrap">
		 <p>내용</p>
		 
		<textarea id="summernote" name="editordata"  th:utext="*{content}" th:field="*{content}"></textarea>
		<button id="submitBtn" class="submitBtn"type="submit">업로드</button>
		</div>
	</form>
	
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
	
	let stars = document.getElementById("stars");
	let starValue = stars.value;
	starValue = starValue.substring(0,1);
	console.log(starValue);
	
	let summernote = document.getElementById("summernote");
		$("#searchModal").css("display", "none");
		
		
		$('#summernote').summernote({
            // 썸머노트 옵션 설정
            codeviewFilter: false,
            codeviewIframeFilter: false,
            disableXSSProtection: true,
			width : 1100,
			height: 500,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: 'ko-KR',
            toolbar: [
                ['style', ['style']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['table', ['table']],
                ['para', ['paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'link', 'video']],
                ['view', ['codeview', 'fullscreen', 'help']],
            ],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: [
                '8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'
            ],
            styleTags: [
                'p',
                { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
                'pre',
                { title: 'code_light', tag: 'pre', className: 'code_light', value: 'pre' },
                { title: 'code_dark', tag: 'pre', className: 'code_dark', value: 'pre' },
                'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
            ],

            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 파일 업로드
                    for (var i = files.length - 1; i >= 0; i--) {
                        var fileName = files[i].name
                        var caption = prompt('이미지 설명:', fileName)
                        if (caption == '') {
                            caption = '이미지'
                        }
                        uploadSummernoteImageFile(files[i], this, caption)
                    }
                },
                onMediaDelete: function ($target, editor, $editable) {
                        var deletedImageUrl = $target.attr('src').split('/').pop()
                        deleteSummernoteImageFile(deletedImageUrl)
                },
            },
        })
        
    

    // 이미지 업로드 ajax
    function uploadSummernoteImageFile(file, el, caption) {
        data = new FormData()
        console.log(el);
        data.append('file', file)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'writePost/uploadSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
				console.log(data);
	                
	                $('#summernote').summernote("insertImage", data.src);


            },
        })
    }

    function deleteSummernoteImageFile(imageName) {
        data = new FormData()
        data.append('file', imageName)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'deleteSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
        })
    }
    
		const ratingStars = [...document.getElementsByClassName("rating__star")];
		let starCount = document.querySelectorAll("rating__star far fa-star");
		let starCountNumber = document.getElementById("starCountNumber");
		
		let tempIntstarCnt = starValue;
		
		let postStarCount = document.getElementById("stars");
		$('#stars').val(tempIntstarCnt);
		
		var ratingResult = document.querySelector(".rating__result");
		
		printRatingResult(ratingResult);
		
		function executeRating(stars, result) {
		const starClassActive = "rating__star fas fa-star";
		const starClassUnactive = "rating__star far fa-star";
		const starsLength = stars.length;
		let i;
		
		
		for (let j = 0; j < starsLength; ++j) {
		        if (j < starValue) {
		            stars[j].className = starClassActive;
		        } else {
		            stars[j].className = starClassUnactive;
		        }
		    }
		 $('#starCnt').text(starValue + '/5');
		
		stars.map((star) => {
		star.onclick = () => {
			i = stars.indexOf(star);
		
			if (star.className.indexOf(starClassUnactive) !== -1) {
				printRatingResult(result, i + 1);
				for (i; i >= 0; --i) stars[i].className = starClassActive;
				
				let tempStarCnt = starCnt.innerText;
				tempStarCnt = tempStarCnt.substring(0,1);
				let tempIntStarCnt = parseInt(tempStarCnt);
				$('#stars').val(tempIntStarCnt);
			
			} else {
				printRatingResult(result, i);
				for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
				
				let tempStarCnt = starCnt.innerText;
				tempStarCnt = tempStarCnt.substring(0,1);
				let tempIntStarCnt = parseInt(tempStarCnt);
				$('#stars').val(tempIntStarCnt);
			}
		};
		});
		}
		
		
		function printRatingResult(result, num = 0) {
		result.textContent = `${num}/5`;
		}
		
		executeRating(ratingStars, ratingResult);
</script>
<script th:src="@{/js/nav.js}"></script>
</body>
</html>