<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/post.css}">

</head>
<body>
	<nav>
        <div class="logo">
            <img th:src="@{img/logo.png}" alt="">
        </div>

        <ul>
            <li><a href="#">책</a></li>
            <li><a href="#">영화</a></li>
            <li><a href="#">공연</a></li>
        </ul>

        <input class="search" type="text" placeholder="Search">
        
        
        
        <div class="userinfo">
            <div class="profileimg">
                <img th:src="@{img/defalut_profileimg.jpg}" alt="">
            </div>
                <p>사용자 이름</p>

            
        </div>
    </nav>
    
	<form action="/writePost" method="post" name="writePost" th:object="${writePost}" enctype="multipart/form-data">
    
	

	<div class="searchModal" id="searchModal">
		<div>
			<div>작품 검색</div>
			<div id="searchModalOffButton">
				<svg xmlns="http://www.w3.org/2000/svg" height="20" width="16" viewBox="0 0 384 512">
				<path fill="#ffffff" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
				</svg>
			</div>
			<div class="select_lab">
			<label>카테고리
				<select id="categorySelect" class="categorySelect" th:field='${writePost.postCtCode}'>
					<option value="none" selected th:value="none">선택</option>
					<option value="book"  th:value="book">도서</option>
					<option value="concert"  th:value="concert">공연</option>
					<option value="movie" th:value="movie">영화</option>
				</select>
			</label>
			작품명<input id="keyword1" placeholder="작품명을 입력해주세요">
			<button id="searchButton" class="searchButton">검색</button><br>
		</div>
			<div class="resultarea">
				<p>검색결과</p>
				<div class="div_line"></div>
			</div>
			<div id="searchResult">
				
    				
				
			</div>
			
		</div>
	</div>
	 
	
	   <div class="post_topwrap">
  			<div class="post_topleft">		
				<p class="p1">어떤 작품에 대하여 쓰나요?</p>
				<p class="p2">감상문을 작성할 작품을 검색해서 등록해보세요.</p>
				<button id="searchModalOnButton" class="searchModalButton" type="button">작품 검색</button>
			</div>
			
			<div class="post_topmid">
				<p>선택한 작품</p>
				<div class="selectedWork" id="selectedWork"></div>	
				<input type="hidden" id="targetName" th:field="*{targetName}">
				<input type="hidden" id="targetSubName" th:field="*{targetSubName}">
				<input type="hidden" id="targetAuthor" th:field="*{targetAuthor}">
				<input type="hidden" id="targetThumbnail" th:field="*{targetThumbnail}">
			</div>
		
			 <div class="post_topright">
				<p>나의 별점</p>
				<div class="rating">
					<span class="rating__result" id="starCnt"></span> 
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
					<i class="rating__star far fa-star"></i>
			</div>
		</div>
	</div>
			<input type="hidden" id="stars" th:field="*{starCount}" value="">
				

		 
		<label class="title_lb">제목<span></span><input class="posttitle" th:field="*{title}" placeholder="게시글 제목을 입력해주세요"></label>
			
		 <p>내용</p>
		<textarea id="summernote" name="editordata" th:field="*{content}"></textarea>
		
		<button id="submitBtn" type="submit">입력</button>
	</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>			
	<script>
$("#spinner").css("display","none");
		let summernote = document.getElementById("summernote");
		$("#searchModal").css("display", "none");
		
		
		$('#summernote').summernote({
            // 썸머노트 옵션 설정
            codeviewFilter: false,
            codeviewIframeFilter: false,
            disableXSSProtection: true,
			width : 1100,
			height: 500,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: 'ko-KR',
            toolbar: [
                // 스타일 관련 기능
                ['style', ['style']],
                ['fontname', ['fontname']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 글꼴 스타일
                ['font', ['bold', 'underline', 'clear']],
                // 글자 색상
                ['color', ['color']],
                // 테이블 삽입
                ['table', ['table']],
                // 문단 스타일
                ['para', ['paragraph']],
                // 에디터 높이 설정
                ['height', ['height']],
                // 이미지, 링크, 동영상 삽입
                ['insert', ['picture', 'link', 'video']],
                // 코드 보기, 전체화면, 도움말
                ['view', ['codeview', 'fullscreen', 'help']],
            ],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: [
                // 글자 크기 선택 옵션
                '8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'
            ],
            styleTags: [
                // 스타일 태그 옵션
                'p',
                { title: 'Blockquote', tag: 'blockquote', className: 'blockquote', value: 'blockquote' },
                'pre',
                { title: 'code_light', tag: 'pre', className: 'code_light', value: 'pre' },
                { title: 'code_dark', tag: 'pre', className: 'code_dark', value: 'pre' },
                'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
            ],

            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 파일 업로드
                    for (var i = files.length - 1; i >= 0; i--) {
                        var fileName = files[i].name
                        var caption = prompt('이미지 설명:', fileName)
                        if (caption == '') {
                            caption = '이미지'
                        }
                        uploadSummernoteImageFile(files[i], this, caption)
                    }
                },
                onMediaDelete: function ($target, editor, $editable) {
                    // 삭제된 이미지의 파일 이름을 알아내기 위해 split 활용
                    if (confirm('이미지를 삭제하시겠습니까?')) {
                        var deletedImageUrl = $target.attr('src').split('/').pop()

                        // ajax 함수 호출
                        deleteSummernoteImageFile(deletedImageUrl)
                    }
                },
            },
        })
        
    

    // 이미지 업로드 ajax
    function uploadSummernoteImageFile(file, el, caption) {
        data = new FormData()
        console.log(el);
        data.append('file', file)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'writePost/uploadSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
				console.log(data);
	                
	                $('#summernote').summernote("insertImage", data.src);


            },
        })
    }

    // 이미지 삭제 ajax
    function deleteSummernoteImageFile(imageName) {
        data = new FormData()
        data.append('file', imageName)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'deleteSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
        })
    }		
		let starCnt = document.getElementById("starCnt");
		let stars = document.getElementById("stars");
		
		let categorySelect = document.getElementById("categorySelect");
		let searchModal = document.getElementById("searchModal");
		let submitBtn = document.getElementById("submitBtn");
		let searchModalOnButton = document.getElementById("searchModalOnButton");
		let searchModalOffButton = document.getElementById("searchModalOffButton");
		//let form = document.post;

		let selectedWork = document.getElementById("selectedWork");
		let selectedWorkImage = document.getElementById("selectedWorkImage");
		let selectedWorkTitle= document.getElementById("selectedWorkTitle");
		let selectedWorkAuthor= document.getElementById("selectedWorkAuthor");

		let searchResult = document.getElementById("searchResult");

		let searchBookList;
		let searchMovieList;
		let serachMovieListLength;
		let searchMovieResult = document.getElementById("searchMovieResult");
		let searchConcertResult = document.getElementById("searchConcertResult");
		let resultC = [];
		let resultC_name= [];
		let resultC_type = [];
		let resultC_thumb = [];
		let searchModalTogle = true;
		let tempBool =false;
		
		let targetName = document.getElementById("targetName");
		let targetSubName = document.getElementById("targetSubName");
		let targetAuthor = document.getElementById("targetAuthor");
		let targetThumbnail = document.getElementById("targetThumbnail");
		
		
		searchModalOnButton.addEventListener("click", (e)=>{
		if(searchModalTogle){
			//searchModal.style.display="flex";
			searchModal.style.display="block";
			$("section1").css("background-color", "lightgray");
			searchModalTogle = false;
		}else{
			$("#searchModal").css("display", "none");
			$("section1").css("background-color", "white");
			searchModalTogle = true;
		}
		});

		searchModalOffButton.addEventListener("click", (e)=>{
		$("#searchModal").css("display", "none");
		$("section1").css("background-color", "white")	
		})

		function showSpinner() {
		    $("#spinner").css("display","block");
		}
		function hideSpinner() {
    		$("#spinner").css("display","none");
		}
		
//		submitBtn.addEventListener('click',(e)=>{
//			form.submit();
//		});	

		let keyword1 = document.getElementById("keyword1");
		let searchButton = document.getElementById("searchButton");

		searchButton.addEventListener("click", (e)=>{
			e.preventDefault();
			console.log("검색시작")
			searchResult.innerHTML = "";
			searchResult.innerHTML += "<div class='spinner' id='spinner'></div>";
			showSpinner();
			resultC_name = [];
			resultC_type = [];
			resultC_thumb = [];
			let keyword = keyword1.value.toString();
			
			if(categorySelect.value == "none"){
				alert("검색어를 입력해주세요.");	
				$("#spinner").css("display","none");
			}else if(categorySelect.value == "book"){
				$("#spinner").css("display","block");
				$.ajax({
					type: "GET",
					url: "/kakaoBookSearch/"+keyword,
					dataType: "json",
					contentType:"application/json",
				}).done(function(res) {
					$("#spinner").css("display","none");
					console.log("책 api 호출 시작")
					searchBookList = res.documents;
					for(let i = 0 ; i < res.documents.length; i++){
						if(res.documents[i].authors == "" || res.documents[i].authors == null){
							res.documents[i].authors = "작가 없음";
							searchResult.innerHTML +=
							"<div class='result' onclick='selectedBook(this)' id='" + i +"'>\
								 <img src='"+res.documents[i].thumbnail +"'> \
								 <p class='title'>"+res.documents[i].title+"</p>\
								 <p>"+res.documents[i].authors+"</p>\
								 </div>";
						}else{
							searchResult.innerHTML += 
							"<div class='result' onclick='selectedBook(this)' id='" + i +"'>\
								 <img src='"+res.documents[i].thumbnail +"'>\
								 <p class='title' >"+res.documents[i].title+"</p>\
								 <p>"+res.documents[i].authors+"</p>\
								 </div>";
						}
					};
					console.log("책 api 호출 완료")
				}).fail(function (error) {
					alert("api호출에 실패하였습니다.");
				});
								
			}else if(categorySelect.value == "concert"){
				$("#spinner").css("display","block");
				$.ajax({
					type: "GET",
					url: "concert/"+keyword,
					dataType: "xml",
					//contentType:"application/json",
				}).done(function(res) {	
					hideSpinner();
					let resTextToString = $(res).text().toString();	
					resultC = resTextToString.split('        ');
					for(let i = 2 ; i< resultC.length; i++){
						if(i%9 == 2){
							resultC_name.push(resultC[i]);
						}
						if(i%9 == 7){
							resultC_type.push(resultC[i]);
						}
						if(i%9 == 6){
							resultC_thumb.push(resultC[i]);
						}
					}
					
					for(let i = 0 ; i < resultC_name.length; i++){
						searchResult.innerHTML += 
						"<div class='result' onclick='selected(this)' id='"+ i + "'> <img src='"+resultC_thumb[i] +
						"'><p class='title'>"+
						resultC_name[i]+
						"</p><p>"+
						resultC_type[i]+"</p></div>";
					}
					}).fail(function (error) {
						alert("api호출에 실패하였습니다.");
					});
					
				}else if(categorySelect.value == "movie"){
					$("#spinner").css("display","block");
					$.ajax({
						type: "GET",
						url: "movie/"+keyword,
						dataType: "json",
						//contentType:"application/json",
						}).done(function(res) {	
						hideSpinner();
						console.log(res);
						searchMovieList = res.Data[0].Result;
						if(res.TotalCount == 0){
							alert("검색된 영화가 없습니다. 제목을 확인해주세요.");
							return false;							
						}else{
							serachMovieListLength = res.Data[0].Result.length;
						}
							
						
					for(let i = 0 ; i < serachMovieListLength; i++){
						let tempImageUrl = searchMovieList[i].posters;
						let a = tempImageUrl.indexOf('|');

						let tempTitle = searchMovieList[i].title.replace(/!HE/g, '');
						tempTitle = tempTitle.replace(/!HS/g, '');
						searchMovieList[i].directors = searchMovieList[i].directors.director[0].directorNm 
						searchMovieList[i].title = tempTitle;
						if(a != -1){
							tempImageUrl = tempImageUrl.substr(0, a);
							searchMovieList[i].posters = tempImageUrl;

							searchResult.innerHTML += 
							"<div class='result' onclick='selectMovie(this)' id='"+ i + "'> <img src='"+tempImageUrl +
							"'><p class='title'>"+
							tempTitle+
							"</p><p>"+
							searchMovieList[i].directors+"</p></div>";
						}else{
							searchResult.innerHTML += 
							"<div class='result' onclick='selectMovie(this)' id='"+ i + "'> <img src='"+searchMovieList[i].posters +
							"'><p class='title'>"+
							tempTitle+
							"</p><p>"+
							searchMovieList[i].directors + "</p></div>";
						}
					}
						}).fail(function (error) {
							alert("api호출에 실패하였습니다.");
						});
				}	
		});


function selected(e){
	selectedWork.innerHTML = "";
	let tempNumber = parseInt($(e).attr('id'));
	
	targetName.value = resultC_name[tempNumber];
	targetAuthor.value = resultC_type[tempNumber];
	targetThumbnail.value = resultC_thumb[tempNumber];
	
	selectedWork.innerHTML += 
	"<img src='" + resultC_thumb[tempNumber] + "'>\
	<div>\
	<div>"+resultC_name[tempNumber]+"</div>\
	<div>"+resultC_type[tempNumber]+"</div></div>"
	$(".searchModal").css("display","none");
	searchModalTogle = true;
}

function selectedBook(e){
	selectedWork.innerHTML = "";
	let tempNumber = parseInt($(e).attr('id'));
	
	targetName.value = searchBookList[tempNumber].title;
	targetAuthor.value = searchBookList[tempNumber].authors;
	targetThumbnail.value = searchBookList[tempNumber].thumbnail;
	
	selectedWork.innerHTML += 
		"<img src='" + searchBookList[tempNumber].thumbnail + "'>\
		<div>\
		<div>"+searchBookList[tempNumber].title+"</div>\
		<div>"+searchBookList[tempNumber].authors+"</div></div>";
	$(".searchModal").css("display","none");
	searchModalTogle = true;
}

function selectMovie(e){
	selectedWork.innerHTML = "";
	let tempNumber = parseInt($(e).attr('id'));
	
	targetName.value = searchMovieList[tempNumber].title;
	targetAuthor.value = searchMovieList[tempNumber].directors;
	targetThumbnail.value = searchMovieList[tempNumber].posters;
	
	selectedWork.innerHTML += 
	"<img src='" + searchMovieList[tempNumber].posters + "'>\
	<div>\
	<div>"+searchMovieList[tempNumber].title+"</div>\
	<div>"+searchMovieList[tempNumber].directors +"</div>\
	</div>"
	$(".searchModal").css("display","none");
	searchModalTogle = true;
}
//searchMovieList[i].posters
const ratingStars = [...document.getElementsByClassName("rating__star")];
let starCount = document.querySelectorAll("rating__star far fa-star");
let starCountNumber = document.getElementById("starCountNumber");



const ratingResult = document.querySelector(".rating__result");

printRatingResult(ratingResult);

function executeRating(stars, result) {
const starClassActive = "rating__star fas fa-star";
const starClassUnactive = "rating__star far fa-star";
const starsLength = stars.length;
let i;
stars.map((star) => {
star.onclick = () => {
	i = stars.indexOf(star);

	if (star.className.indexOf(starClassUnactive) !== -1) {
		printRatingResult(result, i + 1);
		for (i; i >= 0; --i) stars[i].className = starClassActive;
		
		let tempStarCnt = starCnt.innerText;
		tempStarCnt = tempStarCnt.substring(0,1);
		let tempIntStarCnt = parseInt(tempStarCnt);
		$('#stars').val(tempIntStarCnt);
	
	} else {
		printRatingResult(result, i);
		for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
		
		let tempStarCnt = starCnt.innerText;
		tempStarCnt = tempStarCnt.substring(0,1);
		let tempIntStarCnt = parseInt(tempStarCnt);
		$('#stars').val(tempIntStarCnt);
		
		
		
		
		
	}
};
});
}


function printRatingResult(result, num = 0) {
result.textContent = `${num}/5`;
}

executeRating(ratingStars, ratingResult);
</script>
</body>
</html>