<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <h1>JOIN</h1>
    
    <label>Email<input id="email"></label>
    <button id="sendMailButton">이메일인증</button>
    
    <label>인증번호<input id="numberCheck"></label>
    <button id="numberCheckButton">인증번호확인</button>
    
    

<script>
	let email1 = document.getElementById("email");
	let btn = document.getElementById("sendMailButton");
	let checkNumber;
    btn.addEventListener('click',(e)=>{
		let email = email1.value.toString();

		$.ajax({
			      type : "POST",
			      url : "emailConfirm",
			      data : {
			         "email" : email
			      }, success : function(data){
					  checkNumber = data;
				  }
		});
	});
	let numberCheck = document.getElementById("numberCheck");
	let numberCheckButton = document.getElementById("numberCheckButton");
	
	numberCheckButton.addEventListener('click',(e)=>{
		let number = numberCheck.value.toString();

		$.ajax({
			      type : "POST",
			      url : "numberCheck",
			      data : {
			         "number" : number
			      }, success : function(data){
					  checkNumber = data;
				  }
		});
	});

</script>
</body>
</html>