<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <h1>JOIN</h1>
    <div id="emailInputBox">
	    <label>Email<input id="email"></label>
	    <button id="sendMailButton">이메일인증</button>
	    <div id="countBox">
		    <p id="count"></p>
		    <p>인증번호는 3분간 유효합니다.</p>
	    </div>
    </div>
    
    <div id="numberCheckBox">
	    <label>인증번호<input id="numberCheck"></label>
	    <button id="numberCheckButton">인증번호확인</button>
    </div>
    
    
    <div id="passwordBox">
		<label>Password<input id="password" type="password"></label><br>
		<label>Password 확인<input id="passwordCheck" type="password"></label>
	</div>
    
    <div id="nameBox">
		<label>이름<input id="name"></label>
	</div>
	
	<div id="birthBox">
		<label>생년월일<input id="birth" placeholder="ex)19990101"></label>
	</div>

<script>
	$("#countBox").css("display", "none");
	$("#numberCheckBox").css("display", "none");
	
	let email1 = document.getElementById("email");
	let sendMailButton = document.getElementById("sendMailButton");
	let checkNumber;
	
	
	let count = document.getElementById('count');
	let total_time = 100;
	let minute = total_time / 60;
	let second = total_time % 60;

	function countMinus(){
		total_time--;
		minute = parseInt(total_time / 60);
		second = parseInt(total_time % 60);
		count.innerText = minute + ":" +second;
		if(total_time <= 0){
			$("#count").css("display", "none");
		}
	}
	
	sendMailButton.addEventListener('click',(e)=>{
		$("#numberCheckBox").show();
		$("#countBox").show();
		let email = email1.value.toString();

		$.ajax({
			      type : "POST",
			      url : "emailConfirm",
			      data : {
			         "email" : email
			      }
		});
		
		setInterval(() => 
			countMinus()
		, 1000);

	});
	
	let numberCheck = document.getElementById("numberCheck");
	let numberCheckButton = document.getElementById("numberCheckButton");
	
	numberCheckButton.addEventListener('click',(e)=>{
		let number = numberCheck.value.toString();

		$.ajax({
			      type : "POST",
			      url : "numberCheck",
			      data : {
			         "number" : number
			      }, success : function(data){
					  checkNumber = data;
					  $("#sendMailButton").css("display", "none");
					  $("#numberCheckBox").css("display", "none");
					  $("#countBox").css("display", "none");
					}
		});
		console.log(checkNumber);
	});


</script>
</body>
</html>