.type{

    border: solid 1px #9A9E7B;
    width: 50px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    padding: 3px 5px;
}

.wrapcontainer{
    padding: 3% 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_Wrap{
    /* position: absolute;
    left: 30%;
    margin-left: -150px;
    top: 50%;
    margin-top: 60px; */
    /* position: relative;
    left: 29%;
    margin-left: -150px;
    width: 70%;
    top: 50%;
    margin-top: 60px; */
    width: 55%;
    vertical-align:middle; 
    display:inline-block;
    min-width: 1045px;
    height: 100%;
}

.mostPosted_Wrap{
    width: 100%;
    margin-bottom: 4%;
}
.top5posts_Wrap{
    width: 100%;
    margin-bottom: 3%;
    
}


.mostPosted_Top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}
.typeSelector {
    font-size: 14px;
    right: 0;
    display:flex;
    justify-content: end;
    flex-direction: row;
    gap: .8em;

}

.Thumb {
    width: 100%;
    height: 0; /* 초기값을 0으로 설정 */
    padding-bottom: 150%; /* 원하는 높이의 백분율을 지정 */
    position: relative;
    margin-bottom: 10px;
}

.Thumb>img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    position: absolute; /* 위치를 조정하기 위해 */
    top: 0;
    left: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    

}
.title {
    font-weight: 700;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.subtitle , .author{
    color: #777777;
}

.mostPosted {
    width: 18%;
}
.top5posts{
    width: 18%;
}

.banner{
    margin-bottom: 3%;
    width:100% ;
}
.banner>img{
    border-radius: 20px;
    width: 100%; height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.top5posts_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;

}
.top5posts_title{
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 5px;

}
.top5posts_content {
    color: #777777;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 5px;
}

.home_Wrap  p {
    font-weight: 700;
    font-size: 16px;
}

.homebtm_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 50%;
}

.king_Wrap {
    /* width: fit-content; */
    height: 100%;
    border: solid 1px #9A9E7B;
    border-radius: 15px;
    padding: 0 30px;
    margin: 20px 0;
    
}
#bestsellerWrap{
    /* width: 100%;
    background-color: #9A9E7B;
    border-radius: 7px;
    flex-grow: 1;
    height: 100%; */
    flex-grow: 1;
    height: 100%;
    
    border-radius: 15px;
    padding: 0 30px;
    margin: 20px 0;
}
.bestsellerdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bestseller_thumb {
    width: 85px;
}
.bestsellerWrap p {
    margin: 10px 10px 10px 10px;
}
.king_Wrap p {
    margin: 10px 10px 10px 10px;
}
.king_Wrap>p:first-of-type{
    position: relative;
    left: -1.5em;
}
.kingcontent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin:0 0 20px 0 ;
    gap: 2em;
}
.profileimgdiv{
    width: 2em;
    height: 2em;
}
.profileimgdiv > img{
    width: 100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
}

.rank.scd>.kingimgdiv, .rank.thd>.kingimgdiv {
    width: 4em;
    height: 4em;
}
.rank.scd, .rank.thd {
    margin-top: 30px;
}
.rank>div:first-of-type{
    font-weight: 700;
    
}
.kingimgdiv{
    width: 5em;
    height: 5em;
}
.rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
.kingimgdiv > img{
    width: 100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
}


