@import url("font.css");

*{
    font-family: 'Pretendard';

}
nav > p{
    margin: 0;
    font-size: 16px;
}
body{
    margin: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li {
    font-size: 16px;
    padding: 0px 40px;
}
ul li {
    list-style-type: none;
    float: left;
}

a{
    text-decoration: none; color:black;
}
a:hover, a:active {
    text-decoration: none; color:black; background-color:transparent;
}

nav{
    min-width: 1045px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height:60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.noticealram, .chatalram {
    display: inline-block;
    position: relative;
}

.noticealram::before, .chatalram::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #da5353;
    border-radius: 50%;
    top: -5px;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    
    color: white;

}
#notice {
   height: fit-content;
}
/* :before {
    content: 'N';
}

#chat::before {
    content: 'N';
} */

.logo{
    width: 80px;
    height: 38.77px;
}

.logo > img{
    width: 100%;
    height: 100%;
}

.searchbox {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.fa-search {
    position: relative;
    right:18%;
}
.search {
    border-radius: 20px;
    background-color: transparent;
    margin: 0px 40px;
    width: 360px;
    height: 35px;
    border:1px solid #9A9E7B;
    text-indent: 30px;
    padding-right: 3%;
}

input:focus{
    outline: none;
}

.userinfo{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    align-items: center;
    gap: .5em;
}

.userinfo > p{
    margin: auto 10px;
}

.profileimg{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 70px;
}

.profileimg > img{
    width: 100%;
    height: 100%;
}

.footer {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 10%;
    position: absolute;  
    bottom: 0;
}
.logoutbtn{
    background-color: transparent;
    border: none;
}
.fa-comment-dots, .fa-bell{
    font-size: 18px;
}
.nav_username{
    font-weight: 500;
    font-size: 16px;
}