p {
    margin: 0;
    padding: 0;
}

hr {
    background:#CFCFCF;
    height: 1px;
    border:0;
}
.replyWrap {
    width: 100%;
    display: flex;
    flex-direction: row;

    gap: .8em;
    padding: 1em 0;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 70%;
}
.noReply{
    height:50px;
}
.rereplycont{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.noreplydiv{
    padding-top: 10px;    
    color: #777;
    text-align: center;
}
.replyformArea{
    display: flex;
    width: 100%;
    padding: .5em 0;
    flex-direction: row;
    gap: 0.8em;
}

.reReplyformArea{
    box-sizing: border-box;
    width: 100%;
    padding: .5em 0;
    flex-direction: row;
    gap: 0.8em;
}

.rereplycont>div:nth-of-type(3){
    color: #777;
    font-size: 14px;
}

/* .replyformdiv>textarea{
    box-sizing: border-box; 
    width: 100%;
    min-height: 110px;
    max-height: 400px;
    padding: 11px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    vertical-align: top; 

} */

textarea {
    font-size: 16px;
    box-sizing: border-box; 
    width: 100%;
    min-height: 110px;
    max-height: 400px;
    padding: 11px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    vertical-align: top; 
    resize: none; /* 크기 조절 막기 */
    outline: none; /* 클릭 시 강조 효과 없애기 */
    border: 1px solid #ccc; /* 선택적으로 테두리 스타일 적용 */
}
.reReplyform_form{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}
.replyform_form{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.replyformdiv>button {
    font-size: 14px;
    border: none;
    margin: .5em 0;
    float: right;
    width: 100px;
    height: 40px;

}
.submitBtn{
    font-size: 14px;
    border: none;
    float: right;
    width: 100px;
    height: 40px;
}
.rereply{
    margin-left: 100px;
}
.reply_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.reply_top>div:nth-of-type(1), .nickName{
    margin: 0;
    font-weight: 600;
}
.reply_btm>div:nth-of-type(1){
    color: #777;
    font-size: 14px;
}
.reply_btm>div:nth-of-type(2){
    color: #444;
    font-weight: 500;
}

.reply_btm{
    padding-top: .8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8em;
}
.edit-delete-buttons {
    top: 50px; /* 아이콘에서 얼마나 떨어져 나타낼지 조정 */
    right: 0; /* 아이콘 오른쪽 정렬 */
    background-color: white;
    z-index: 1;
    display: none;
    position: absolute;
    padding: 11px;
    border-radius: 6px;
    border: 1px solid #777;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

#deleteBtn{
    margin-top: .5em;
}

.writerinfo>div:nth-of-type(1) {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}
.writerinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts_wrap{
    width: 80%;
    position: absolute;
    left: 20%;
    margin-left: -11%;
    top: 35%;
    margin-top: -150px;   
    padding-bottom: 10%;
}
.createOn {
    font-size: 12px;
    color: #777;
    font-weight: 300;
}


.writer_profileimg{
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 70px;
}


.writer_profileimg >img{
    width: 100%;
    height: 100%;
}

.posttitle {
    font-weight: 700;
    font-size: 22px;
    padding: 0 0 15px 0;
}


/*  */
.infotitle{
    margin: 8px 20px;
    font-size: 13px;
    font-weight: 700;
}
.targetInformation{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px 20px 20px;
}

.targetThumb{
    order: 0;
    

}
.targetThumb{
    width: 70px;
}

.infodetail{
    margin-left: 10px;
    gap: 2px;
    order: 1;
    display: flex;
    flex-direction: column;
}
.ratebox{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 2;
    border: 1px solid #9A9E7B;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 14px;
    margin-left: auto;
}
.infodetail{font-size: 14px;}

.infodetail div:nth-of-type(1){
    font-weight: 800;
    color: #333333;
}

.infodetail div{
    color: #777777;
}

.postcontent {
    margin-top: 20px;
}

.likes{
    margin: 40px 0 40px 0;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #9A9E7B;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 14px;
    
}
.likes>p{
    padding: 0 5px;
}
.replycnt{
    padding: 3% 0 1% 0;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    
}
.replycnt>div{
    padding-left: 8px;
    display: inline-block;
}
.likeReportWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}
.reportbtn {
    margin: 40px 0 40px 0;
    background-color: #eaeaea;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #9A9E7B;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 14px;
}
.reportCheckModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background: #fff;
    display: table-cell;
  vertical-align: middle;
    border-radius: 10px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    z-index: 1;
  }
  
.reportCheckModal>div:nth-of-type(1){
    position: absolute;

	  top: 50%;

	  left: 50%;

	  transform: translate(-50%, -50%);
}
.reportCheckModal>div>div{
    padding-bottom: .5em;
}
  .modalBackground {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33333373;
    z-index: 1;
  }
  
  /*--------------------------------------*/
  .deleteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background: #fff;
    display: table-cell;
  vertical-align: middle;
    border-radius: 10px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    z-index: 1;
  }
  
.deleteModal>div:nth-of-type(1){
    position: absolute;

	  top: 50%;

	  left: 50%;

	  transform: translate(-50%, -50%);
}
.deleteModal>div>div{
    padding-bottom: .5em;
}
  .modalBackground {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33333373;
    z-index: 1;
  }
  
  
  
  
  .noReply{
    padding: 1% 1%;
  }