@media(max-width:576px){

.error{
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    color: #E52834;
    left: 0;
    padding: 0 5px 10px 5px;
}
span{
    height: .5em;
}
p{  
    margin: 0;
    padding:0;

}

.up_Wrap>h1:nth-of-type(1){
    margin: 21px 0 0 0;
}
.up_Wrap>h1:nth-of-type(2){
    margin: 10px 0 20px 0;
}
.sub_p {
    color: #777777;
    margin-bottom:30px;
}
h1{
    width: 560px;
    font-weight: 500;
    font-size: 30px;
}

.up_Wrap{
    width: 700px;
    display: block;
    margin: auto;
    text-align: center;
    
}
/* 화면 중앙정렬 */
.wrapcontainer{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_wrap{
    width: 50%;
    vertical-align:middle; 
    display:inline-block;
}

label {
    font-size: 14px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
input{
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: #cccccc 1px solid;
    text-indent: 12px;
    margin: 5px 0 10px 0;
    padding: 0 ;
}

.updatebtn {
    width: 50%;
    background-color: #9A9E7B;
    border-radius: 12px;
    color: white;
    border: none;
    margin: 10px 0;
    font-size: 16px;
    padding: 10px 30px;
    height: 45px;
}

.reAlert_Wrap{
    width: 50%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.reAlert_Wrap:nth-last-child(1){
    color: #777777;
    font-size: 14px;
}
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

@media all and (min-width:576px) and (max-width:1860px) { 

.error{
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    color: #E52834;
    left: 0;
    padding: 0 5px 10px 5px;
}
span{
    height: .5em;
}
p{  
    margin: 0;
    padding:0;

}

.up_Wrap>h1:nth-of-type(1){
    margin: 21px 0 0 0;
}
.up_Wrap>h1:nth-of-type(2){
    margin: 10px 0 20px 0;
}
.sub_p {
    color: #777777;
    margin-bottom:30px;
}
h1{
    width: 700px;
    font-weight: 500;
    font-size: 30px;
}

.up_Wrap{
    width: 700px;
    display: block;
    margin: auto;
    text-align: center;
    
}
/* 화면 중앙정렬 */
.wrapcontainer{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_wrap{
    width: 50%;
    vertical-align:middle; 
    display:inline-block;
}

label {
    font-size: 14px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
input{
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: #cccccc 1px solid;
    text-indent: 12px;
    margin: 5px 0 10px 0;
    padding: 0 ;
}

.updatebtn {
    width: 50%;
    background-color: #9A9E7B;
    border-radius: 12px;
    color: white;
    border: none;
    margin: 10px 0;
    font-size: 16px;
    padding: 10px 30px;
    height: 45px;
}

.reAlert_Wrap{
    width: 50%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.reAlert_Wrap:nth-last-child(1){
    color: #777777;
    font-size: 14px;
}
}