<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/menu.css}">
<script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
<style>
	#pagination{
		text-align: center;
	}
</style>
</head>

<body>
	<th:block th:if="${member == null}">
		<div th:replace="main/header :: headFrag(${none})"></div>
	</th:block>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
	<div class="menu_Wrap">
		<div class="typename" th:text="${typeName}"></div>
		<hr>
		<div th:each="post,i : ${type}">
			<a th:href="@{|/posts/${post.postCode}|}">
				<div id="postComp" class="postComp">
					<div th:id="${i.index}"></div>
					<div class="thumb_Wrap">
						<img th:src="${post.targetThumbnail}">
					</div>
					<div class="ctt_Wrap">
						<div class="writerinfo_Wrap">
							<div class="profileimg_div">
								<img th:src="${profilesrc[i.index]}">
							</div>
							<div th:text="${post.memberNick}"></div>
							<div th:text="${post.createOn}"></div>
						</div>
						<div class="target_Wrap">
							<div th:text="${post.targetName}"></div>
							<div th:text="${post.targetAuthor}"></div>
							<div th:text="${post.targetSubName}"></div>
						</div>
						<div class="postcnt_Wrap">
							<div th:text="${post.title}"></div>
							<div th:text="${post.content}" class="postcontent"></div>
							<input th:value="${post.targetThumbnail}" id="targetThumb" type="hidden">
						</div>
					</div>	
					<div class="ratebox" >
						★<p th:text="${post.starCount}" style="padding-left: 5px;"></p>
					</div>
				</div>
			</a>
			<hr>
		</div>
	</div>
	
	<div id="pagination">
	<!-- 맨 처음 페이지로 이동하는 버튼 -->
	<!--
    <span th:if="${pageVo.startPage > 1}">
        <a th:href="@{'/menu/book?page=' '?page=1&type=' + ${type}}" th:text="'처음&emsp;'"></a>
    </span>
-->
	<!-- 이전 블록으로 이동하는 버튼 -->
    <span th:if="${pageVo.isPrev == true}">
    	<a th:href="@{'/menu/' + ${typeEng} + '?page=' + ${pageVo.endPage - 1}}" th:text="'이전'"></a>
    </span>

    <!-- 시퀀스 보여주는 값을 변경. -->
    <span th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
        <a class="div2" th:href="@{'/menu/' + ${typeEng}+ '?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
    </span>
	
    <!-- 다음 블록으로 이동하는 버튼 -->
    <span th:if="${pageVo.isNext == true}">
	<a th:href="@{'/menu/book?page='+|${pageVo.endPage + 1}|}" th:text="'다음'"></a>
    </span>
	
    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
   <!-- <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
		<a th:href="@{'/myPage/${member.id}?page='+${pageVo.totalPageCount}+'&type='+${type}}" th:text="|&emsp;끝|"></a>
    </span> -->
</div>
		<script th:src="@{/js/nav.js}"></script>
</body>
</html>