<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post" th:object="${loginForm}" id="loginForm">
	    <label>ID<input id="loginId" th:field="*{loginId}"></label><br>
	    <label>PW<input id="loginPw" type="password" th:field="*{passWord}"></label><br>
    <button id="loginButton" type="submit">로그인</button>
      <div class="errorMessage">
        <div th:errors="*{loginId}"></div>
        <div th:errors="*{passWord}"></div>
 	 </div>
      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">
          글로벌오류
        </p>
      </div>
    </form>

</body>
</html>