<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="project.DIY.repository.mybatis.AboutPostMapper">

	<insert id="insertLikes" parameterType="hashMap">
		insert into diydb.likepost values(
			#{arg0}, #{arg1}
		);
	</insert>
	
	<select id="selectByCode" resultType="Member">
		select * from diydb.member where id = #{code};
	</select>
	
	
</mapper>