<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="project.DIY.repository.mybatis.FollowMapper">
	
	<insert id="insertFollow" parameterType="Integer">
		INSERT INTO diydb.follow (`follower`, `followee`) 
		VALUES (#{arg0}, #{arg1});
	</insert>

	<select id="selectFollowee" parameterType="Integer">
		select * from diydb.follow where follower = #{memberId} order by id desc;
	</select>
	
	<select id="selectFollower" parameterType="Integer">
		select * from diydb.follow where followee = #{memberId} order by id desc;
	</select>
	
	<select id="cntFollowee" parameterType="Integer">
		select count(*) from diydb.follow where follower = #{memberId};
	</select>
	
	<select id="cntFollower" parameterType="Integer">
		select count(*) from diydb.follow where followee = #{memberId};
	</select>
	
	<select id="followCheck" parameterType="Integer">
    select count(*) from diydb.follow where follower = #{arg0} and followee = #{arg1};
	</select>
	
	<delete id="unfollow" parameterType="Integer">
		delete from diydb.follow where follower=#{arg0} and followee =#{arg1};
	</delete>
</mapper>