<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="project.DIY.repository.mybatis.MemberMapper">

<!-- 로그인 -->
<!-- id는 인터페이스 메소드명과 동일 -->
	<select id="selectById" resultType="project.DIY.domain.Member">
		select * from diydb.member
		where loginId = #{loginId};
	</select>
	<select id="selectBymemberId" resultType="project.DIY.domain.Member">
	SELECT * FROM diydb.member where id=#{id};
	</select>
	
	<update id="updateUUID" parameterType="project.DIY.domain.Member">
	UPDATE diydb.member
	set activeUUID = #{activeUUID}
	where loginId= #{loginId};
	</update>

	<select id="idCheck" resultType="Integer">
		select count(*) 
		from diydb.member 
		where loginId = #{loginId};
	</select>

	<insert id="insertMember" parameterType="project.DIY.domain.Member">
		INSERT INTO diydb.member
		VALUES (
			null,
			#{loginId}, 
			#{password},
			#{nickName}, 
			"Y",
			"",
			#{createOn},
			null,
			"/img/defalut_profileimg.jpg",
			null,
			null,
			"N"
			);
		
	</insert>
	
	<select id="selectByCode" resultType="Member">
		select * from diydb.member 
		where id = #{code};
	</select>
	
	<update id="updateById" parameterType="project.DIY.domain.Member">
		update diydb.member set 
		nickName = #{nickName},
		profileSrc = #{profileSrc},		
		memberIntro = #{memberIntro},
		updateOn = #{updateOn}
		where id = #{id};
	</update>
	
	<select id="thisMonthWriteKing" resultType="Post">
		 select
		memberId,
 		memberNick,
 		count(memberNick)
  		as cnt
 		from diydb.post
 		where Month(createon)= #{month}
 		group by memberNick order by cnt desc;
	</select>
	
	<select id="passwordUpdateSixMonth" resultType="Member">
		 select * from diydb.member 
		 where date(passwordUpdate) <![CDATA[ < ]]> date(subdate(now(), interval 6 Month));
	</select>
	
	<update id="reAlertUpdatePassword">
		UPDATE diydb.member
		SET passwordUpdate = DATE_ADD(passwordUpdate, INTERVAL 7 DAY)
		WHERE id = #{id};
	</update>
	
	
	<update id="updatePasswordById" parameterType="Member">
		update diydb.member set 
		password = #{password},
		passwordUpdate = #{passwordUpdate},
		passwordFind = "N"
		where id = #{id};
	</update>
	
	<select id="selectAllUser" resultType="Member">
		 SELECT * FROM diydb.member;
	</select>
	
	<update id="updateUserStatusCode" parameterType="HashMap">
		update diydb.member set statusCode = #{statusCode} where id = #{id};
	</update>
	
	<update id="updatePasswordByLoginId" parameterType="Member">
		update diydb.member set 
		password = #{password},
		passwordUpdate = date_format(now(), '%Y%m%d%H%i%s'),
		passwordFind = "Y"
		where loginId = #{loginId};
	</update>
</mapper>