<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="project.DIY.repository.mybatis.MemberMapper">

<!-- 로그인 -->
<!-- id는 인터페이스 메소드명과 동일 -->
	<select id="selectById" resultType="project.DIY.domain.Member">
		select * from temp.member
		where loginId = #{loginId};
	</select>
	
	
	<update id="updateUUID" parameterType="project.DIY.domain.Member">
	UPDATE temp.member
	set activeUUID = #{activeUUID}
	where loginId= #{loginId};
	</update>

	<select id="idCheck" resultType="Integer">
		select count(*) from temp.member 
		where loginId = #{loginId};
	</select>

	<insert id="insertMember" parameterType="project.DIY.domain.Member">
		INSERT INTO temp.member
		VALUES (
			null,
			#{loginId}, 
			#{password},
			#{nickName}, 
			"Y",
			"",
			date_format(now(), '%Y%m%d%H%i%s'),
			null
			);
		
	</insert>
</mapper>