<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="project.DIY.repository.mybatis.PostMapper">

<!-- 로그인 -->
<!-- id는 인터페이스 메소드명과 동일 -->
	<insert id="insertPost" parameterType="Post">
		INSERT INTO diydb.post
		VALUES (
			null, 
			#{postCtcode},
			#{targetName}, 
			#{targetSubName},
			#{targetAuthor},
            #{targetThumbnail},
            #{memberId},
            #{memberNick},
            #{starCount},
            #{title},
            #{content},
			date_format(now(), '%Y%m%d%H%i%s'),
			null
			);

	</insert>
	
	
	<select id="selectPost" resultType="Post">
		insert INTO diydb.post VALUES (
		#{title}, #{content}
		);

	</select>
	
	<select id="getLastPost" resultType="Post">
		select * from diydb.post order by postCode desc limit 1;
	</select>
	
	<select id="selectByPostCode" resultType="Post">
		select * from diydb.post where postCode = #{postCode};
	</select>
	
	
</mapper>