<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src='https://kit.fontawesome.com/c8fabc7e12.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/follow.css}">
    <title>팔로워</title>
</head>
<body>
    <th:block th:if="${member == null}">
		<div th:replace="main/header :: headFrag(${none})"></div>
	</th:block>
	<th:block th:if="${member != null}">
		<div th:replace="main/header :: headFrag(${member.activeUUID})"></div>
	</th:block>
    <h1>팔로워</h1>

    <div th:each="followerList,i :${followerList}" class="followList">
        <div class="profileimg_div">
            <img th:src="${followerList.profileSrc}">
        </div>
        <div th:text="${followerList.nickName}"></div>
        <div th:text="${followerList.memberIntro}"></div>
        
    </div>

    <script th:src="@{/js/nav.js}"></script>
</body>
</html>